/* -----------------------*\
     Font family link 
\*------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* -----------------------*\
        starting css 
\*------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------------------*\
     common emlement css 
\*------------------------*/

body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 100vh;
}

/* -----------------------*\
     common css class
\*------------------------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.highlight{
    color: #FF008E;
}
.primary-button{
    color: #FFF;
    outline: 0;
    border: 0;
    padding: 10px 20px;
    font-size: 18px;
    /* text-transform: uppercase; */
    background-image: linear-gradient(90deg, #9b0457,#FF008E);
    border-radius: 0 8px;
    cursor: pointer;
    box-shadow: 0 7px 0 #bb106e;
    position: relative;
    top: 0;
}
.primary-button:active{
    top: 5px;
    box-shadow: 0 2px 0 #bb106e;
}

/* --------------------------------*\
        navigation css 
\*----------------------------------*/
.navigation{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.logo{
    font-weight: 400;
    font-size: 18px;
}
.menu {
    display: flex;
}
.menu li{
    list-style: none;
    margin-right: 25px;
}
.icon{
    margin-left: 15px;
    font-size: 20px;
}
.menu a{
    text-decoration: none;
    padding: 10px;
    color: #121212;
    font-size: 17px;
    font-weight: 600;
}

/* ------------------------------*\
        hero area css 
\*-------------------------------*/


.hero-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 130px);
}
.section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-left h1{
    font-size: 40px;
}
.section-left p{
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}
.section-right{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-left: 90px;
    margin-top: 50px;
    padding: 20px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.section-right img{
    width: 100%;
}


/* logo section  start*/

.logo-section{
    margin: 80px 0;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-content: center;
    text-align: right;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    padding: 60px 0;
    width: 100%;
}
.logo-section img:hover{
    transform: scale(1.4) rotate(360deg);
    transition: transform ease-in-out 1s;
    cursor: pointer;
}

/* logo section  end */

/* card section start  */

.card-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.cards{
    display: grid;
    grid-gap: 0px 40px;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.card-header{
    text-align: center;
    font-size: 20px;
}
.card-body{
    margin: 40px 0;
    padding:20px 10px 0px 20px;
    width: 340px;
    box-shadow: 0 0 24px -7px #CAD5E2;
    border-radius: 5px;
}
.card-body:hover{
    transform: scale(1.1);
    transition: transform ease-in-out 0.5s;
}
.card-title{
    margin: 10px 0;
}
.icon_filed{
    font-size: 10px;
    color: orange;
}
.icon_half{
    font-size: 10px;
    color: orange;
}
.star{
    display: flex;
    height: 30px;
    margin-left: 10px;
    align-items: center;
}
.star p{
    margin-left: 20px;
    font-weight: 600;
    color: gray;
    font-size: 14px;
}
.price{
    font-size: 22px;
}
.description{
    font-size: 15px;
    line-height: 1.5;
    color: gray;
    padding: 10px;
}


/* card section end  */


/* See more button start  */

#see-more{
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 0;
    display: grid;
    justify-content: flex-end;
}
#see-more i{
    margin-left: 20px;
    
}
.see-button{
    color: rgb(255, 0, 128);
    outline: 0;
    border: 0;
    border-radius: 10px 0;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    /* text-transform: uppercase;
    background-image: linear-gradient(90deg, #E21717,#FF008E);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 7px 0 #bb106e;
    position: relative;
    top: 0; */
    cursor: pointer;
}
.see-button:hover{
    background-image: linear-gradient(90deg, #383CC1,#FF008E);
    color: whitesmoke;
}

/* See more button end */

/* Bonus part start  */

.bonus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 60px;
}
.right h1{
    font-size: 30px;
}
.right p{
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    text-align: justify;
}
.left img{
    width: 450px;
    height: 250px;
    border-radius: 20px 0;
}

/* Bonus part end */


/* footer section start */
footer{
    margin-top: 150px;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: whitesmoke;
    background-color: #03203C;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first p{
    font-size: 14px;
    padding: 3px;
}
.end i{
    margin-right: 5px;
    padding: 8px;
    font-size: 20px;
}
.end a i{
    color: whitesmoke;
}